<h2>TestComp view</h2>

<div class="row">
	<a href="#!/mycomp">MyComp</a>
</div>

<div class="row">
	<div class="small-12 medium-6 columns">

		<p>
			<span data-model="name"></span> has a <span data-model="car"></span>.
		</p>

		<input type="text" data-model="name" data-form="name">
		<input type="text" data-model="car" data-form="car">

		<button data-form="submit">Submit</button>
		<button id="toggle-form">Toggle disable/enable form</button>

		<p><a href="#" class="anonymous-func">Event by anonymous function</a></p>
	</div>
</div>